@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-blue-dark: rgb(15, 76, 117);
  --color-blue: rgb(50, 130, 184);
  --color-blue-light: rgb(187, 225, 250);
  --color-black-blue: rgb(27, 38, 44);
  --color-green-01: rgb(93, 201, 131);
  --color-orange-01: rgb(251, 166, 60);
  --color-red-01: rgb(235, 87, 87);
  --color-red-02: rgb(241, 53, 27);

  --font-display: "Inter", sans-serif;
}